@media screen and (max-width: 600px) {

    body {
        background-image: linear-gradient(to bottom, black 50%, rgba(3, 3, 3, 0.822), red);
    }

}

@media screen and (min-width: 600px) and (max-width: 768px) {
    body {
        background-image: linear-gradient(to bottom, black 50%, rgba(3, 3, 3, 0.822), red);
    }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    body {
        background-image: linear-gradient(to bottom, black 50%, rgba(3, 3, 3, 0.822), red);
    }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
    body {
        background-image: linear-gradient(to bottom, black 50%, rgba(3, 3, 3, 0.822), red);
    }
}

@media screen and (min-width: 1200px) {
    body {
        background-image: linear-gradient(to bottom, black 50%, rgba(3, 3, 3, 0.822), red);
    }
}